.alert {
  background-color: transparent;
  border: 1px solid transparent;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.hidden {
  visibility: hidden;
}

.error {
  color: white;
  background-color: rgba(255, 0, 0, 0.1);
  border-color: red;
}

.success {
  color: white;
  background-color: rgba(0, 255, 0, 0.1);
  border-color: green;
}

.info {
  color: white;
  background-color: rgba(0, 0, 255, 0.1);
  border-color: blue;
}

@media all and (max-width: 800px) {
  .alert {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .error {
    background-color: rgba(127, 0, 0);
    color: white;
  }
  .success {
    background-color: rgba(0, 127, 0);
    color: black;
  }
  .info {
    background-color: rgba(0, 0, 127);
    color: white;
  }
}
