.gradient {
  font-weight: 700;
  background: linear-gradient(to right, #befff7, #a6f6ff, #9eddff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
