.skills {
  padding: 15% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .skill-container {
    min-width: 100px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}